PORT= 5011
DB_DIALECT=postgres
DB_NAME=shreecement_sever2
DB_USER=postgres
DB_PASSWORD=swift
DB_HOST=localhost
DB_PORT=5432
DB_TIMEZONE=Asia/Kolkata
DEBUG_MODE=true


JWT_SECRET=MODULEWISE
SERVER_FILE_URL = http://localhost:5011/api/v1/uploads/


SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=auto-notification@cyberswift.com
SMTP_PASSWORD='Swift&#4512'
