# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# Ignore environment files
.env

/logs

# upload folder
/uploads

# misc
.DS_Store
.env.local

